/* HEADER*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.a-ul-inicio {
    color: rgb(255, 119, 0);
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
    list-style: none;
    font-weight: 100;
    
}

.a-ul-inicio1{
    color: #09f;
}

.a-ul-inicio-hover:hover{
    color: #09f;

}

ul li{

    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;

} 

header {
    background-color: white;
    margin: none;
    width: 100%;
    clear: both;
}

/*FOOTER*/


footer{
    background-color: #09f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.footer-contenido{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 400px) { /* Cambia 'width' a 'min-width' */
    .footer-contenido {   
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    } 
}

@media (min-width: 600px) {
    .footer-contenido {   
        grid-template-columns: repeat(4, 1fr); /* Tres columnas */
    } 
}

.footer-section{
    text-align: center;
}

h3{
    color: white;
    display: inline-block;
}

.a-footer-email{
    color: black;
}

i{
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    
}