/* Estilos generales */

* {
    margin: 0;
    box-sizing: border-box;
}

/* HEADER*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.a-ul-inicio {
    color: rgb(255, 119, 0);
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
    list-style: none;
    font-weight: 100;
    
}

.a-ul-inicio1{
    color: #09f;
}

.a-ul-inicio-hover:hover{
    color: #09f;

}

ul li{

    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;

} 

header {
    background-color: white;
    margin: none;
    width: 100%;
    clear: both;
}


/*BODY*/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #09f;
    font-weight: 200;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Contenedor principal para las dos secciones */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección del formulario de contacto */
.contact-form {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.contact-form .form-group input, 
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.contact-form .form-group input:focus, 
.contact-form .form-group textarea:focus {
    border-color:#09f;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-radius: 6px;
    outline: none;
}

.contact-form .form-group textarea {
    resize: none;
    height: 120px;
}

.contact-form .form-group textarea:focus {
    resize: none;
    height: 120px;
}

.contact-form .form-group input[type="submit"]  {
    background-color: #09f;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1.1em;
    margin-top: 10px;
}



.contact-form .form-group label{
    color: #555;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.contact-form .form-group input[type="submit"]:hover {
    background-color: rgba(0, 153, 255, 0.7);
}

/* Sección del mapa */
.map {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 8px;
}



/*FOOTER*/

footer{
    background-color: #09f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 50px;
    text-align: left;
}

.footer-contenido{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;

}

.footer-section{
    flex: 1;
    text-align: center;
}

p{
    padding: 5px;
}

h3{
    color: white;
    display: inline-block;
    padding: 15px;
}

.a-footer-email{
    color: black;
}

i{
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    
}

.footer-padding ~ p {
    padding: 2%;
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .box {
      width: 30%;
    }
  }

  /* Estilos para tablets */
  @media (max-width: 1023px) and (min-width: 768px) {
    .box {
      width: 45%;
    }
  }

  /* Estilos para móviles */
  @media (max-width: 767px) {
    .box {
      width: 100%;
    }
}