/* HEADER*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.a-ul-inicio {
    color: rgb(255, 119, 0);
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
    list-style: none;
    font-weight: 100;
    
}

.a-ul-inicio1{
    color: #09f;
    font-size: 1.6rem;
}

.a-ul-inicio-hover{
    font-size: 1.6rem;
}

.amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
}
.a-ul-inicio1:hover{
    font-size: 2rem;
}

.a-ul-inicio-hover:hover{
    color: #09f;
    font-size: 2rem;
}

ul li{

    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;

} 

header {
    background-color: white;
    margin: none;
    width: 100%;
    clear: both;
}

/*BODY*/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.wrap-texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width: 50%;
    margin-bottom: 150px;

}

.wrap{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(media/servicios.jpg);
    background-size: cover;
    background-position: center;
    padding: 4%;

}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #09f;
}

.intro-servicios{
    color: #888;
    font-size: 25px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 200;
    line-height: 1.5;
}

.about_main{
    padding: 5%;
    display: grid;
}

.about_element {
    display: grid; /* Para ordenar por columnas */
    grid-template-columns: 1fr; /* Una columna por defecto */
    gap: 16px; /* Espacio entre cada caja */
}

@media (min-width: 400px) { /* Cambia 'width' a 'min-width' */
    .about_element {   
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    } 
}

@media (min-width: 600px) {
    .about_element {   
        grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    } 
}

.imagen-normalized {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.about_icons{
    font-size: 1.2rem;
    display: grid;
    align-content: start;
}


h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #09f;
}




/*FOOTER*/

footer{
    background-color: #09f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 5%;
}

.footer-contenido{
    max-width: 100%; /* Permitir que ocupe todo el ancho en pantallas pequeñas */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (min-width: 400px) { /* Cambia 'width' a 'min-width' */
    .footer-contenido {   
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    } 
}

@media (min-width: 600px) {
    .footer-contenido {   
        grid-template-columns: repeat(4, 1fr); /* Tres columnas */
    } 
}

.footer-section{
    text-align: center;
}

h3{
    color: white;
    display: inline-block;
}

.a-footer-email{
    color: black;
}

i{
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    
}